<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>displayName</param-name>
        <param-value>Shillong College - Office Automation System</param-value>
    </context-param>
    <context-param>
        <param-name>pageFooter</param-name>
        <param-value></param-value>
    </context-param>
    <!--donald-->
    <servlet>
        <servlet-name>populateStream</servlet-name>
        <servlet-class>shg.util.populateStream</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>populateStream</servlet-name>
        <url-pattern>/populateStream</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SelectAllSubjName</servlet-name>
        <servlet-class>shg.edit.SelectAllSubjName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectAllSubjName</servlet-name>
        <url-pattern>/SelectAllSubjName</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchPrevXii</servlet-name>
        <servlet-class>shg.edit.searchPrevXii</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>searchPrevXii</servlet-name>
        <url-pattern>/searchPrevXii</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EditBoardSubj</servlet-name>
        <servlet-class>shg.edit.EditBoardSubj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectSubjName</servlet-name>
        <servlet-class>shg.edit.SelectSubjName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSelectSubjName</servlet-name>
        <servlet-class>shg.edit.EditSelectSubjName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editclxii</servlet-name>
        <servlet-class>shg.edit.Editclxii</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deleteclxii</servlet-name>
        <servlet-class>shg.edit.Deleteclxii</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBoardSubj</servlet-name>
        <servlet-class>shg.edit.DeleteBoardSubj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Selectxiiinfo</servlet-name>
        <servlet-class>shg.edit.Selectxiiinfo</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>populateSubjects</servlet-name>
        <servlet-class>shg.util.populateSubjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseClassHonsRetrieve2</servlet-name>
        <servlet-class>shg.dao.CourseClassHonsRetrieve2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseClassHonsDAO2</servlet-name>
        <servlet-class>shg.dao.CourseClassHonsDAO2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditBoardSubj</servlet-name>
        <url-pattern>/EditBoardSubj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectSubjName</servlet-name>
        <url-pattern>/SelectSubjName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSelectSubjName</servlet-name>
        <url-pattern>/EditSelectSubjName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editclxii</servlet-name>
        <url-pattern>/Editclxii</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deleteclxii</servlet-name>
        <url-pattern>/Deleteclxii</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBoardSubj</servlet-name>
        <url-pattern>/DeleteBoardSubj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Selectxiiinfo</servlet-name>
        <url-pattern>/Selectxiiinfo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>populateSubjects</servlet-name>
        <url-pattern>/populateSubjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseClassHonsRetrieve2</servlet-name>
        <url-pattern>/CourseClassHonsRetrieve2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseClassHonsDAO2</servlet-name>
        <url-pattern>/CourseClassHonsDAO2</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>populateCourse</servlet-name>
        <servlet-class>shg.util.populateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>populateCombination</servlet-name>
        <servlet-class>shg.util.populateCombination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudent</servlet-name>
        <servlet-class>shg.srch.SearchStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>populateCourse</servlet-name>
        <url-pattern>/populateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>populateCombination</servlet-name>
        <url-pattern>/populateCombination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudent</servlet-name>
        <url-pattern>/SearchStudent</url-pattern>
    </servlet-mapping>
    
    
    
    <!--Ransly-->
    	
    <servlet>
        <servlet-name>populateUniRollNO</servlet-name>
        <servlet-class>shg.util.populateUniRollNO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>populateUniRollNO</servlet-name>
        <url-pattern>/populateUniRollNO</url-pattern>
    </servlet-mapping>
   
    <servlet>
        <servlet-name>populateYearBatch</servlet-name>
        <servlet-class>shg.util.populateYearBatch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>populateYearBatch</servlet-name>
        <url-pattern>/populateYearBatch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>populatePaperName</servlet-name>
        <servlet-class>shg.util.populatePaperName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>populatePaperName</servlet-name>
        <url-pattern>/populatePaperName</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>populateSemester</servlet-name>
        <servlet-class>shg.util.populateSemester</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>populateSemester</servlet-name>
        <url-pattern>/populateSemester</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>populateUniRollNoEdit</servlet-name>
        <servlet-class>shg.util.populateUniRollNoEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>populateUniRollNoEdit</servlet-name>
        <url-pattern>/populateUniRollNoEdit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>populatePaperNameEdit</servlet-name>
        <servlet-class>shg.util.populatePaperNameEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>populatePaperNameEdit</servlet-name>
        <url-pattern>/populatePaperNameEdit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>populateSemesterEdit</servlet-name>
        <servlet-class>shg.util.populateSemesterEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>populateSemesterEdit</servlet-name>
        <url-pattern>/populateSemesterEdit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>srchimprovement</servlet-name>
        <servlet-class>shg.srch.srchimprovement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srchimprovement</servlet-name>
        <url-pattern>/srchimprovement</url-pattern>
    </servlet-mapping>
    
    <!--Ransly-->
    <!--teibor-->
    <servlet>
        <servlet-name>GetSubject</servlet-name>
        <servlet-class>shg.dao.GetSubject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSubject</servlet-name>
        <url-pattern>/GetSubject</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>populatesubject</servlet-name>
        <servlet-class>shg.util.populatesubject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>populatesubject</servlet-name>
        <url-pattern>/populatesubject</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>populatenewcourse</servlet-name>
        <servlet-class>shg.util.populatenewcourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>populatenewcourse</servlet-name>
        <url-pattern>/populatenewcourse</url-pattern>
    </servlet-mapping>
    <!--teibor-->
    
    <!--uploadimage-->
    <servlet>
        <servlet-name>imageUpLoader</servlet-name>
        <servlet-class>imageUpLoader</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>showUploadImage</servlet-name>
        <servlet-class>shg.uploadimage.showUploadImage</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>showImageFromDB</servlet-name>
        <servlet-class>shg.uploadimage.showImageFromDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>imageUpLoader</servlet-name>
        <url-pattern>/imageUpLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showUploadImage</servlet-name>
        <url-pattern>/showUploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showImageFromDB</servlet-name>
        <url-pattern>/showImageFromDB</url-pattern>
    </servlet-mapping>
 
    <!--uploadimage-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>JDBCDriver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>DBUser</param-name>
        <param-value>shgdb</param-value>
    </context-param>
    <context-param>
        <param-name>DBPassword</param-name>
        <param-value>shgdb</param-value>
    </context-param>
    <context-param>
        <param-name>DBserver</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>DBURL</param-name>
        <param-value>jdbc:postgresql://localhost:5432/shgdb</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>DBConnection.CreateDatabaseConnectionServletListener</listener-class>
    </listener>
</web-app>
